<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TPMaker.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <TPMaker.My.MySettings>
            <setting name="Stiftgröße" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Stiftalpha" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="Farbe" serializeAs="String">
                <value>White</value>
            </setting>
        </TPMaker.My.MySettings>
    </userSettings>
</configuration>